<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luodong.imsdk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--imsdk activity(start)-->
        <activity
            android:name="com.chaolu.imsdk.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.chaolu.imsdk.ui.ImagePreviewActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.ImageViewActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.SearchFriendActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.AddFriendActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.ProfileActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.EditActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.FriendshipManageMessageActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.FriendshipHandleActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.BlackListActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.SearchGroupActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.ManageFriendGroupActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.GroupListActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.CreateGroupActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.ChooseFriendActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.GroupProfileActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.ApplyGroupActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.GroupMemberActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.GroupMemberProfileActivity"/>
        <activity android:name="com.chaolu.imsdk.ui.MessageNotifySettingActivity"/>
        <!--imsdk activity(end)-->



        <!--——————————————————————imsdk(start)——————————————————————-->
        <!-- Android 9.0兼容配置 -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!-- 【必须】消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" >
        </service>
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" >
        </service>

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter" android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>
        <!--——————————————————————imsdk(end)——————————————————————-->

    </application>


</manifest>